* {
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  .center{
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);

}.navigation-site_text-logo{
color: #292F36;
font-family: DM Serif Display;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 125%; /* 50px */
}
.navigation-site_logo{
    margin-right: 10px;
  
}
/* 1199width */
.navigation-site{
    margin-top: 65.5px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 57px;
}
.navigation-site_link{
   display: flex;
   gap: 50px;
   color: #292F36;
   text-align: center;
   font-family: Jost;
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: 125%; /* 25px */
   padding-top: 20px;
}

.picturebegr{
    background-image: url(../slider/img/Banner.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size:auto;
    position: relative;
    height: 356px;
    margin-bottom: 200px;
}
.slider-title{
    color: #292F36;
    font-family: DM Serif Display;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 62.5px */
    letter-spacing: 1px;
    text-align: center;
    
}
.firstparagraph{
    color: #4D5053;
    font-family: Jost;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 33px */
    letter-spacing: 0.22px;
    margin-bottom: 20px;
  
   
}
.secondparagraph{
    color: #4D5053;
    font-family: Jost;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 33px */
    letter-spacing: 0.22px;
    margin-bottom: 20px;
  
}
.skidercenter{
    align-items: center;
    text-align: center;
    width: 658px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 300px;
    margin-bottom: 100px;
}
.slider-size{
    width:1201px;
    /* Height:1336px; */
    margin-bottom:200px;
}